@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.spacer{
    height: 20px;
}

.accordion{
    width: 100%;
    margin: 20 auto;
    color: black;
    padding: 45px;
}

.accordion .container{
    position: relative;
    margin: 10px;
}

.accordion .label{
    position: relative;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.accordion .label::before{
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: 2px;
    font-size: 24px;
    font-weight: 400;
    transform: translateY(-50%);
}

.accordion .content{
    position: relative;
    height: 0;
    text-align: justify;
    width: 95%;
    overflow: hidden;
    transition: 0.5s;
}

.accordion hr {  
    width: 100;  
    margin-left: 0;  
    border: 0.5px solid #f0f0f0;  
}

.accordion .container.active .content{
    height: 120px;
    padding: 10px 0;
}

.accordion .container.active .label::before{
    content: '-';
    font-size: 30px;;
}

.credits{
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
    opacity: 0.5;
    padding-bottom: 40px;
}

/* Media Queries - Responsive Design */
/* smaller than iPad */
@media (max-width: 576px) {
    *{
        
    }

    .accordion{
        width: 100%;
        padding: 1rem;
    }

    .credits{
        font-size: 0.7rem;
        padding: 1rem;
    }

    h1{
        padding: 1rem;
    }
}