@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.spacer{
    height: 20px;
}

.credits{
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
    opacity: 0.5;
    padding-bottom: 40px;
}

.accordion-section{
    padding-left: 2rem;
    padding-right: 2rem;
}

.accordion-section hr{
    width: 100;  
    margin-left: 0;  
    border: 0.5px solid #f0f0f0;  
}

.accordion{
    background-color: #fff;
    color: black;
    cursor: pointer;
    padding: 14px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s;
}
  
.active, .accordion:hover{
  background-color: #fff;
}

.accordion:after{
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after{
  content: "\2212";
}

.panel{
  margin: 0 20px 0 20px;
  background-color: white;
  text-align: justify;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Media Queries - Responsive Design */
/* smaller than iPad */
@media (max-width: 576px) {

    .accordion-section{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
